input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	&:focus {
		outline: 0;
	}
}

select {
	// border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

label {
	display: block;
	font-family: $font-medium;
	font-size: 1.1rem;
	letter-spacing: 0.085rem;
	line-height: 2.6rem;
}