html {
	font-size: 62.5%;
}

body {
	font-family: $font-primary;
}
	
p {
	color: $color-black;
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color-white;
	color: $color-black;
	font-family: sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 3rem;
	max-width: 100%;
	overflow: auto;
	padding: 2rem;
}
