
// Breakpoints
// ------------------------------------------------------------------------------------------------

$XS: 768px;
$S: 992px;
$M: 1025px;
$L: 1199px;

// $MAX_XS: 767px;
// $MAX_S: 991px;
// $MAX_M: 1024px;
// $MAX_L: 1198px;