@font-face {
    font-family: 'SweetSans-Regular';
    src: url('fonts/SweetSans-Regular.eot');
    src: url('fonts/SweetSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SweetSans-Regular.woff2') format('woff2'),
        url('fonts/SweetSans-Regular.woff') format('woff'),
        url('fonts/SweetSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'SweetSansPro-Regular';
//     src: url('SweetSansPro-Regular.eot');
//     src: url('SweetSansPro-Regular.eot?#iefix') format('embedded-opentype'),
//         url('SweetSansPro-Regular.woff2') format('woff2'),
//         url('SweetSansPro-Regular.woff') format('woff'),
//         url('SweetSansPro-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'SweetSans-MediumSC';
    src: url('fonts/SweetSans-MediumSC.eot');
    src: url('fonts/SweetSans-MediumSC.eot?#iefix') format('embedded-opentype'),
        url('fonts/SweetSans-MediumSC.woff2') format('woff2'),
        url('fonts/SweetSans-MediumSC.woff') format('woff'),
        url('fonts/SweetSans-MediumSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-primary: 'SweetSans-Regular', sans-serif;
// $font-secondary: 'SweetSansPro-Regular', sans-serif;
$font-medium: 'SweetSans-MediumSC', sans-serif;